html {
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: 'Josefin Sans', sans-serif;
    font-size:medium;
    font-weight: 100;
    font-style: italic;
}