.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
    cursor: pointer;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: greenyellow;
    /*transition: transform 1s ease-in 90ms;*/
    animation: traslacion 3s ease-in-out infinite forwards alternate;
    
}

.padre:hover .hijo {
    /*transform: translateX(100%);
    background-color: yellowgreen; */
    animation-play-state: paused;

}

@keyframes traslacion {
    0% {
        background-color: brown;
        transform: translateX(0%);
    }

    25% {
        background-color: aqua;
        transform: translateX(100%);
    }
    50% {
      background-color: lime;
      transform: translateX(100%) translateY(100%);  
        
    }
    75% {
        background-color: yellow;
        transform: translateX(0) translateY(100%);
    }
    100%{
        background-color: deeppink;
        transform: translateX(0) translateY(0);
    }

}