* {
    margin: 0;
    padding: 0;
}

.galeria {
    display: flexbox;
    width: 300px;
    flex-wrap: wrap;
    gap: 10px;
}

.imagen-galeria {
    width: 150px;
}

.imagen-galeria:hover {
    opacity: 0.3;
    cursor: pointer;
}